# Ignorar cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações de IDEs
.vscode/
.idea/

# Ambiente virtual
venv/
.env/
.venv/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Arquivos de Logs
*.log